@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h3 class="text-danger">Sorry an error occured while processing your request, Please verify properly and try again. Thanks .</h3>

