@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>


    <div class="jumbotron" id="">
        <h1>FollowUp WebApp</h1>
        <p>Learn About the features of this system.</p>

        <p><a href="~/Views/Home/Index.cshtml" class="btn btn-lg"></a></p>
    </div>

    <div id="main">
        <div class="section first">
            <h2>This application consists of:</h2>
            <ul>
                Attendance Management and review.
                Information delivery through bulk SMS.
                Addition and removal of admin(s) for concerned purposes
                General membership follow up
            </ul>
        </div>

        <div class="section">
            <h2>Attendance Management</h2>
            <ul>
                This system provides the feature to capture present and absent memebrs through a period of time .
                The pastorate can decide to view the attendance level of members from date through another date
                like from month to month.

                Cell HODs as well as Departmental Heads are registered and given the mandate to track the attendance her
                concerned group or departmental members. Therefore enhancing the collection of present and absent members in the church.

            </ul>
        </div>

        <div class="section">
            <h2>Information Delivery through Bulk SMS.</h2>
            <ul>
                Information dismissal is an indespensable requirement for effective follow up service in the church and in any organisation.
                this system (Web App) embeds the feature to information to a collection or group of people as bulk sms. People in different Categories can be targetted
                such as ;

                Birthday Messages,
                First Timers Messages,
                General Members Messages for church program(s) reminder.
                etc.


            </ul>
        </div>

        <div class="section last">
            <h2>
                Admin Creation and Removal/h2>
                <ul>
                    Following the relevance and crucial nature of information of people , it is therefore important to avail members information to only trusted
                    hands or individual. This system avails users the feature to create and remove admins for concerned followup processes.
                    No admin created in indespensable or permanent. If the pastorate chooses that a particular admin is no longer right for
                    the concerned purpose(s), He can removed by the church Pastorate(Church Overseer Admin). etc
                </ul>
        </div>
    </div>

</body>
</html>
