@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>FollowUp WebApp</h4>
<p>Do you know you can track you and manage the flow of first timers in your church?. FollowUp WebApp provides simple and user friendly interface
            to record and easily manage information of your first timers seamlessly.</p>