@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" id="indexHeader">

    <div id="siteTitle" class="col-lg-10 col-md-10 col-xs-10"> </div>
    <h1>FollowUp WebApp</h1>
    <p id="sitedescription" class="lead">Automate Follow up processes automatically and seamlessly.</p>
    <p><a href="~/Project_Readme.html" class="btn btn-primary btn-lg ">How Does It Work ?&raquo;</a></p>
</div>


<div class="row" id="frontPagebutton">
    <div class="col-md-4 col-sm-4">
        <h2>Care for the MVP's</h2>
        <p class="columnimages"><img src="~/Media/blck n whit giving a hand.jpg" alt="Care giving" class="img-responsive" /> </p>
        <p>
            Do you know you can track you and manage the flow of first timers in your church?. FollowUp WebApp provides simple and user friendly interface
            to record and easily manage information of your first timers seamlessly.<br /><br /><br />
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/Project_Readme.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <h2>Send Bulk Sms </h2>

        <div class="columnimages"><img src="~/Media/send sms.jpg" alt="send bulk sms" class="img-responsive" /></div>
        <p>
            You know how neccessary it is to continually reach out to first timers and exiting memebers. FollowUp WebApp gives the feature to send custom
            messages to different categories of your members: i. First Timers ii. Birthday Me,bers of month iii. Cell groups iv. the general church congregation v. The Pastorate etc.
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/Project_Readme.html">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 col-sm-4">
        <h2>Know who is absent</h2>
        <p class="columnimages"> <img src="~/Media/absent siting.jpg" alt="Alternate Text" class="img-responsive" /></p>
        <p>
            It gets easier to know who and who is absent from church. The system gives you a step forward in maintaining the presence/absence level of members thus follow is target and enhanced
            Every body loves to be cared for , We all know that.... <br /><br />
        </p>
        <p><a class="btn btn-primary btn-lg" href="~/Project_Readme.html">Learn more &raquo;</a></p>
    </div>
</div>