<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/418320fc-d604-44c0-89ef-16d5579342c8/resourceGroups/DominionCityFollowUp/providers/Microsoft.Web/sites/DominionCityFollowUp</ResourceId>
    <ResourceGroup>DominionCityFollowUp</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://dominioncityfollowup.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>dominioncityfollowup.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DominionCityFollowUp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DominionCityFollowUp</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:dominioncityfollowupserver.database.windows.net,1433;Initial Catalog=DominionCityFollowUpDb;User ID=kunlesymls@dominioncityfollowupserver.database.windows.net;Password=adidas@2" Name="Data Source=tcp:dominioncityfollowupserver.database.windows.net,1433;Initial Catalog=DominionCityFollowUpDb;User Id=kunlesymls@dominioncityfollowupserver.database.windows.net;Password=adidas@2;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FollowUpWebApp.Models.ApplicationDbContext, FollowUpWebApp" MigrationConfiguration="FollowUpWebApp.Migrations.Configuration, FollowUpWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dominioncityfollowupserver.database.windows.net,1433;Initial Catalog=DominionCityFollowUpDb;User Id=kunlesymls@dominioncityfollowupserver.database.windows.net;Password=adidas@2;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dominioncityfollowupserver.database.windows.net,1433;Initial Catalog=DominionCityFollowUpDb;User Id=kunlesymls@dominioncityfollowupserver.database.windows.net;Password=adidas@2;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dominioncityfollowupserver.database.windows.net,1433;Initial Catalog=DominionCityFollowUpDb;User Id=kunlesymls@dominioncityfollowupserver.database.windows.net;Password=adidas@2;</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:dominioncityfollowupserver.database.windows.net,1433;Initial Catalog=DominionCityFollowUpDb;User Id=kunlesymls@dominioncityfollowupserver.database.windows.net;Password=adidas@2;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>